* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222222;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button {
  background-color: #169976;
  border-radius: 10px;
  border: 0;
  outline: 0;
  color: white;
  cursor: pointer;
  height: 40px;
  width: 100%;
  padding: 5px;
  font-size: large;
}
input {
  height: 40px;
  width: 100%;
  outline: 0;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #111111;
  color: white;
  transition: 0.5s;
}
input:focus {
  height: 50px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8em;
  margin-top: 2em;
  margin-inline: 10em;
}
.titleProject {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.titleProject h3 {
  opacity: 0.8;
  text-transform: uppercase;
}

.pricingSection {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.pricingSection input {
  width: calc((100% - 20px) / 5);
}
.pricingSection span {
  background-color: #1DCD9F;
  height: 40px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  font-weight: 700;
}
.AddClear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.AddClear button{
    width: 93%;
}
.AddClear svg {
  height: 5%;
  width: 5%;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  color: #ddd;
  transition: 0.5s;
}
.SearchSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SearchSection svg {
  height: 5%;
  width: 5%;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  color: #ddd;
  transition: 0.5s;
}
.SearchSection svg:hover,
.AddClear svg:hover {
  background-color: white;
  height: 4%;
  width: 4%;
}
.SearchSection button {
  width: 40%;
}

table {
  /* font-family: Arial, Helvetica, sans-serif; */
  /* border-collapse: collapse; */
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:hover {
  background-color: #6b6b6b;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  border-top: 1px solid #ddd;
  text-transform: uppercase;
}
.NoData {
  font-size: larger;
  color: #1DCD9F;
  font-weight: 700;
  /* opacity: 0.5; */
}
